extends layout

block content
  h2= activity.name

  .spacer
  h4 Description
  p= activity.description

  .spacer
  h4 Add a new edition
  form.raised.form(method='post', action='/activities/' + activity._id + '/add_edition')
    label Edition name
    br
    input(name='name', type='text', required)
    .row
      .form-group.col-lg-6
        label Start time
        br
        input.datepicker(name='start_date', type='text', required)
    .row
      .form-group.col-lg-6
        label End time
        br
        input.datepicker(name='end_date', type='text', required)
    script.
      $('.datepicker').datepicker({format: 'dd/mm/yyyy'})
    br
    input.btn.btn-success(type='submit', value='Add')

  .spacer
  h4 List of editions
  - each ed in activity.edition
    p= ed.name
    p= ed.start + '---' + ed.end
    p= ed.people

    .spacer
    h5 People involved
    - each peep in ed.people
      p= peep

    .spacer
    h5 Add a new role
    roles = ['organiser', 'teacher', 'mentor', 'participant']
    form(method='post', action='/activities/' + activity._id + '/add_role')
      input(name='edition', type='hidden', value=ed._id)
      label Name
      input(name='name', type='text', required)
      label Role
      select(name='role')
        - each role in roles
          option(value= role)= role
      input.btn.btn-success(type='submit', value='Add')
