extends layout

block content
  h1= activity.name

  .spacer
  h2 Description
  p= activity.description

  .spacer
  - if (user && user.isMember)
    h2= (edition? 'Edit edition':'Add a new edition')

    - var form_action = '/activities/' + activity.link + '/add_edition'
    form.raised.form(method='post',
      action=(edition? form_action + '?link=' + edition.link : form_action))

      .row
        .form-group.col-lg-6
          label Edition name
          br
          input(
            name='name', type='text', required
            value=(edition? edition.name:false))
      .row
        .form-group.col-lg-6
          label Start time
          br
          input.datepicker(
            name='start_date', type='text', required
            value=(edition? edition.start_format:false))
      .row
        .form-group.col-lg-6
          label End time
          br
          input.datepicker(
            name='end_date', type='text', required
            value=(edition? edition.end_format:false))
      .row
        .form-group.col-lg-12
          h3 Statistics (can be filled in later)
          label Number of people who signed up
          input(
            name='enrolments', type='text',
            value=(edition? edition.enrolments:false))
          br
          label Number of people who actually participated
          input(
            name='participants', type='text',
            value=(edition? edition.participants:false))
          br
          label Number of prizes offered
          input(
            name='prizes', type='text',
            value=(edition? edition.prizes:false))
          br
          label Number of projects contributed at
          input(
            name='projects', type='text',
            value=(edition? edition.projects:false))
          br
          label Number of contributions
          input(
            name='contributions', type='text',
            value=(edition? edition.contributions:false))

      script.
        $('.datepicker').datepicker({format: 'dd/mm/yyyy'})
      br
      input.btn.btn-success(type='submit', value=(edition? 'Update' : 'Add'))

  .spacer
  h2 All project editions
  - if (activity.edition.length != 0)
    - each ed in activity.edition
      h2
        a(href='/activities/' + activity.link + '/' + ed.link)= ed.name

      - if (ed.people.length != 0)
        h4 People involved
        table.table.table-striped
          - for (var i = 0; i < ed.people.length; i+=3)
            tr
              td= ((ed.people[i]) ? ed.people[i].split(':')[0] : '')
              td= ((ed.people[i+1]) ? ed.people[i+1].split(':')[0] : '')
              td= ((ed.people[i+2]) ? ed.people[i+2].split(':')[0] : '')

      .spacer
  - else
    h4 No editions yet!
  .spacer
