extends layout

block content
  - if (user && locals.isMember)

    - var query = (activity? '/?id=' + activity.id : '')
    - var form_action = '/activities/add' + query
    form.raised.form(method='post', action=form_action)
      h2= (activity? 'Edit activity':'Add a new activity')
      br
      input.form-control(name='name', type='text', placeholder='Name',
                         value=(activity? activity.name:false), required)
      input.form-control(name='logo', type='text', placeholder='Logo URL',
                         value=(activity? activity.logo:false))
      textarea.form-control(name='description', placeholder='Description',
                            rows='5', cols='50')= (activity? activity.description : '')

      .spacer
      input.btn.btn-success(type='submit', value=(activity? 'Update':'Add'))
    .spacer
  .spacer

  - if (activities)
    h2 What we do?
    br
    for act in activities
      .activity
        img(src=act.logo)
        .activity-controls
          - if (user && locals.isMember)
            a(href='/activities/edit?link=' + act.link)= 'Edit'
        h2: a(href='/activities/' + act.link)= act.name
        p= act.description
        br
    .spacer
