extends layout

block content
  h1= activity.name + ' ' + myedition.name

  .spacer
  h5= 'Start: ' + myedition.start
  h5= 'End: ' + myedition.end

  -if (myedition.description)
    .spacer
    h2 Description
    p= activity.description
    p= myedition.description

  .spacer
  h2 People involved
  - for (var role in users)

    //- Create list of users with certain role, so we can use it's index
    - var all = []
    - each user, name in users[role]
      - all.push(name)

    //- Print one table for each role
    - if (all.length != 0)
      table.table.table-striped
        tr
          th= role + 's'
          th

        //- Use element list index to print in first or second column
        - for (var i = 0; i < all.length; i+=2)
          tr

            //- Print first column
            - if (users[role][all[i]]['google'])
              td
                = i + '. '
                - var email = users[role][all[i]]['google']['email']
                - var link = '/people/' + encodeURIComponent(email)
                a(href=link)= all[i]
                - if (user && locals.isMember)
                  = ' - '
                  - var data = all[i] + ':' + role
                  - var link = '/activities/' + activity.link + '/' + myedition.link + '/remove_role?data=' + data
                  a(href=link, id='delete-table-entry') Delete
            - else
              td
                = i + '. ' + all[i]
                - if (user && locals.isMember)
                  = ' - '
                  - var data = all[i] + ':' + role
                  - var link = '/activities/' + activity.link + '/' + myedition.link + '/remove_role?data=' + data
                  a(href=link, id='delete-table-entry') Delete

            //- If available print second column
            - if (i+1 < all.length && users[role][all[i+1]]['google'])
              td
                = i+1 + '. '
                - var email = users[role][all[i+1]]['google']['email']
                - var link = '/people/' + encodeURIComponent(email)
                a(href=link)= all[i+1]
                - if (user && locals.isMember)
                  = ' - '
                  - var data = all[i+1] + ':' + role
                  - var link = '/activities/' + activity.link + '/' + myedition.link + '/remove_role?data=' + data
                  a(href=link, id='delete-table-entry') Delete
            - else if (i+1 < all.length)
              td
                = i+1 + '. ' + all[i+1]
                - if (user && locals.isMember)
                  = ' - '
                  - var data = all[i+1] + ':' + role
                  - var link = '/activities/' + activity.link + '/' + myedition.link + '/remove_role?data=' + data
                  a(href=link, id='delete-table-entry') Delete
            - else
              td
      .spacer


  - if (user && locals.isMember)
    - var form_action = '/activities/' + activity.link + '/' + myedition.link + '/add_role'
    form.raised.form(method='post', action=form_action)
      .row
        .form-group.col-lg-6
          h2 Add a new role
          input(name='edition', type='hidden', value=myedition._id)
          textarea.form-control(name='name', placeholder='Names (one per line)',
                                rows='3', cols='50')
          select.form-control(name='role')
            - each role in roles
              option(value= role)= role
          input.btn.btn-success(type='submit', value='Add')
        .form-group.col-lg-6
          .spacer
          h4 Instructions
          p - If a user with the specified name exists in DB, a link to his
            profile page will be automatically created
          p - You can paste in names from spreadsheets
          p - Duplicate names and roles will be removed
          p - One name can have multiple roles

  .spacer
  h2 Events
  - if (events.length != 0)
    - each e in events
      h5= e.name
      = 'Dates: ' + e.start + ' ' + e.end
      br
      = 'Location: ' + e.location
      br
  - else
    h4 No events here!

  - if (user && locals.isMember)
      a(href='/events/edit') Add an event.

  .spacer
  - if (user && locals.isMember)
    h2 Statistics (for members only)
    p= 'Enrolments: ' + myedition.enrolments
    p= 'Participants: ' + myedition.participants
    p= 'Prizes: ' + myedition.prizes
    p= 'Projects: ' + myedition.projects
    p= 'Contributions: ' + myedition.contributions

    a(href='/activities/' + activity.link + '?link=' + myedition.link) Edit statistics
