extends layout

block content
  h1= activity.name
  h2= edition.name

  .spacer
  h4= 'Start: ' + edition.start
  h4= 'End: ' + edition.end

  .spacer
  h3 People involved
  - for (var u in users)
    - if (users[u].info.google)
      a(href='/people/' + users[u].info.google.email.split('@')[0]) #{u}
      = ' - ' + users[u].role
    - else
      p #{u} - #{users[u].role}

  .spacer
  h5 Add a new role
  roles = ['organiser', 'teacher', 'mentor', 'participant']
  form(method='post', action='/activities/' + activity.link + '/add_role')
    input(name='edition', type='hidden', value=edition._id)
    label Name
    input(name='name', type='text', required)
    label Role
    select(name='role')
      - each role in roles
        option(value= role)= role
    input.btn.btn-success(type='submit', value='Add')
