extends layout

block content
  - if (user)
    .user.card
      - if (user.name)
        a(href='/people/' + encodeURIComponent(user.email))= user.name
      - else
        a(href='/people/' + encodeURIComponent(user.email)) Profile page
      br
      = user.email
      | <br><br>
      - if (user.isMember)
        a(href='/events/edit') Add event
      br
      a(href='/logout') Logout

  - if (events)
    - each e, i in events
      - if (events[i-1] && events[i-1].upcoming && !events[i].upcoming)
        h2 Past Events
        .spacer

      .date.card
        #day= e.start.getDate()
        #month= e.startMonth
      - if (user && user.isMember)
        a.actions.raised(href='/events/edit?id=' + e._id) EDIT

      .card
        #name= e.name
        #description !{e.description}
        .spacer
        #date
          span.glyphicon.glyphicon-time &emsp;
          span= e.startDateFormatted
        #location
          span.glyphicon.glyphicon-map-marker &emsp;
          span= e.location
        - if (e.link)
          #link
            span.glyphicon.glyphicon-link &emsp;
            a(href=e.link, target='_blank') External link
        #contact
          span.glyphicon.glyphicon-user &emsp;
          span= e.email

        - if (e.membersOnly)
          #privacy
            span.glyphicon.glyphicon-eye-close &emsp;
            span Only members can view this.

        - if (e.tags && e.tags != '')
          b= 'TAGS: '
          - each tag in e.tags
            .tag= tag

      .spacer
    - else
      h2 There are no events in this period

    - if (events.length != 0)
      .events-older
        - var next_page = page? parseInt(page)+1 : 2
        a(href='/events/' + next_page) << Older events
      .events-newer
        - if (page > 1)
          - var prev_page = page? parseInt(page)-1 : 1
          a(href='/events/' + prev_page) Newer events >>
