extends layout

block content
  - if (user)
    .user.card
      b= user.name
      br
      = user.email
      br
      - if (user.isMember)
        a(href='/edit') Add event
      br
      a(href='/logout') Logout

  - if (events)
    - each e in events
      .date.card
        #day #{e.date.substring(3, 5)}
        #month= e.month
      - if (user && user.isMember)
        a(href='/edit?id=' + e._id)
          .actions.raised
            | EDIT
      .card
        #name= e.name
        #description= Markdown.toHTML(e.description)
        .spacer
        #date
          span.glyphicon.glyphicon-time &emsp;
          span= e.date
        #location
          span.glyphicon.glyphicon-map-marker &emsp;
          span= e.location
        - if (e.link)
          #link
            span.glyphicon.glyphicon-link &emsp;
            a(href=e.link, target="_blank") External link
        #contact
          span.glyphicon.glyphicon-user &emsp;
          span= e.email

        - if (e.membersOnly)
          #privacy
            span.glyphicon.glyphicon-eye-close &emsp;
            span Only members can view this.
      .spacer
    - else
      h2 There are no events in this period

  .spacer
