extends layout

block content
  - if (user && user.google.email == cuser.google.email && (!cuser.google.avatar || !cuser.google.name))
    .announcement
      = 'Please go to your profile '
      a(href='http://plus.google.com/' + cuser.google.id) page
      = ' on Google+ and add an avatar and your full name.'
    .spacer

  .user-info
    .user-avatar
      - if (cuser && cuser.google.avatar)
        img(src=cuser.google.avatar, width='300px', height='300px')
      - if (user && (user.member || user.google.email.split('@')[1] == 'rosedu.org') && cuser.google.email.split('@')[1] !== 'rosedu.org')
        .spacer
        - if (!cuser.member)
          a.btn.btn-primary(href='/people/add?id=' + cuser._id + '&link=' + encodeURIComponent(cuser.google.email)) Add as member
        - else
          a.btn.btn-primary(href='#', disabled) Already member of ROSEdu

    - var displayName = (cuser.name ? cuser.name : cuser.google.name)
    - if (action == "edit" && user && user.google.email == cuser.google.email)
      .user-info-edit
        form.raised.form(method='post', action='/people/edit')
          h2 Tell us your name
          p Please fill in your full name (e.g. George Georgescu) and we will
            try to find all events you took part in and enhance your profile.

          input.form-control(name='name', type='text', value=displayName)
          input.form-control(name='id', type='hidden', value=cuser._id)
          input.btn.btn-success(type='submit', value='Save')
    - else
      .user-info
        h1= displayName
        - if (user)
          h4= cuser.google.email
        - else
          p Login to view email adresses.

  .spacer
  .activities
    h2 Activities
    - each act, year in activities
      h3= year
      - each a in act
        - each peep in a.edition.people
          - var name = peep.split(':')[0]
          - var role = peep.split(':')[1]
          - if (name == cuser.google.name)
            p <b>#{role}</b>
              = ' in '
              a(href='/activities/' + a.link)= a.name
              = ' edition '
              a(href='/activities/' + a.link + '/' + a.edition.link)= a.edition.name
